# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
/CREDITS.txt
/LICENSE.txt
/README.txt
/changelog.txt
/.gitattributes
/src/generated/resources/.cache/cache
/src/generated/resources/.cache/03e4de26f1265135874f8cdcaebc09d9c08eb42b
/src/generated/resources/.cache/75bcd4dba6ca7d365462b0ec45e291d1056349c4
/src/generated/resources/.cache/889d9f273cc05743d92286e1fc3388f175ea75e2
/src/generated/resources/.cache/6785690eee8b8254ae5f188143320ae6ddc2208d
/src/generated/resources/.cache/e5c5eb35b4ba40351ecb7d9f04c3527f2f5779b0
/src/generated/resources/.cache/
